<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/vendors/css/all.css">
  <link rel="stylesheet" href="static/vendors/bootstrap.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/imgs/book.svg">
  <title>Library</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="index.html" class="navbar-brand">Library</a>
      <button>



  <script src="vendors/js/jquery.js"></script>
  <script src="vendors/js/popper.js"></script>
  <script src="vendors/js/bootstrap.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Configure Slider
    $('.carousel').carousel({
      interval: 6000,
      pause: 'hover'
    });

  </script>
</body>
</html>